body{
    background-color: #eeeeee;
}
.span1{
    font-family: 'Work Sans', sans-serif;
    font-size: 60pt;
    text-align: center;
    line-height: 60pt;
}
.design{
    font-family: 'Work Sans', sans-serif;
    color: #0275d8;
    font-size: 60pt;
    text-align: center;
    line-height: 60pt;
}